%btn__placeholder {
  text-decoration: none;
  padding: 1.3rem 3rem;
  display: inline-block;
  font-size: 1.3rem;
  text-transform: uppercase;
  border-radius: 10rem;
  letter-spacing: 0.1rem;
  transition: all 0.2s;
  position: relative;
}

.u__center--text {
  text-align: center !important;
}

.u__margin__bottom--small {
  margin-bottom: 1.5rem !important;
}

.u__margin__bottom--medium {
  margin-bottom: 4rem !important;
}
.u__margin__bottom--big {
  margin-bottom: 8rem !important;
}

.u__margin__top--huge {
  margin-bottom: 10rem !important;
}
.u__margin__top--big {
  margin-bottom: 8rem !important;
}
.u__margin__top--big {
  margin-bottom: 8rem;
}
.u__margin__top--big {
  margin-bottom: 8rem;
}
