* {
  /* padding: 0; */
  /* margin: 0; */
  box-sizing: border-box;
}

html,
body {
  /* font-family: sans-serif; */
  color: #fff;
  font-size: 16px;
  width: 80vw;
}

header {
  font-size: 150%;
  padding: 2em;
  margin-bottom: 10rem;
  height: 90vh;
  width: 1000px;
}

.header-child {
  font-size: 3em;
  padding: 10%;
}

.section {
  font-size: 1.5rem;
  width: 280px;
  background-color: #ff4500;
}

p {
  width: 140px;
  background-color: #008000;
}

.amazing {
  width: 66%;
}
