// Width

$default__width: 130rem;

// COLORS

$colors: (
  color__primary: #dc143c,
  color__grey--1: #ccc,
  color__grey--2: #efefef,
);

// FONT WEIGHT

$font__weight: (
  normal: 300,
  bold: 500,
  bolder: 700,
);
